@import "../../../constants/__colors.scss";
@import "../../../constants/__theme.scss";

.input-wrapper {
    position: relative;
    display: block;
    .input {
        border: 2px solid $blue;
        border-color: transparent;
        background-color: var(--wrapper-bg-color); /*$lightgrey*/
        padding: 10px;
        padding-right: 35px;
        font-size: 16px;
        border-radius: 10px;
        color: var(--text-color);
        font-weight: 400;
        outline: none;
        overflow: hidden;
    }

    input:focus {
        border-color: var(--theme-blue);
    }

    .toggle-password{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .textarea{
        width: 100%;
        height: 100%;
        resize: none;
        overflow-y: auto;
    }
}

.textarea-wrapper{
    padding: 0 20px;
    width: 100%;
}