@import "../../../constants/__colors";
@import "../../../constants/__theme";

.button {
  background-color: var(--wrapper-bg-color);
  color: var(--wrapper-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}

.button:disabled{
  background-color: var(--wrapper-bg-color);
  color: var(--wrapper-text-color);
  cursor: not-allowed;
}