@import "../../../constants/_colors";

table {
    border: 2px solid #00000028;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

thead{
    td{
        opacity: 0.5;
        font-weight: 600;
        div{
            padding-bottom: 10px;
        }
    }
}

tbody{
    td{
        border-top: 2px solid rgba($color: $black, $alpha: 0.1);
        div {
            padding: 15px 0;
        }
    }
    .income{
        color: $green;
    }
}
