@import "../../../constants/_colors";
@import "../../../constants/__theme";

table {
    border: 2px solid rgba($color: $black, $alpha: 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--bg-color);
}

thead{

    td{
        opacity: 0.5;
        font-weight: 600;
        div{
            background-color: var(--bg-color);
            padding-bottom: 10px;
        }
    }

    th {
        background-color: red;

    }

    th div span{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        svg {
            margin-right: 10px;
        }
    }
}

tbody{
    td{
        border-top: 2px solid rgba($color: var(--text-color), $alpha: 0.8);
        div {
            padding: 15px 0;
            background-color: var(--bg-color);
            color: var(--wrapper-text-color);
        }
    }
    .income{
        color: $green;
    }
}

tbody input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid $darkblue;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  position: relative;
}

tbody input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 6px;
  height: 8px;
  border: solid $blue;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table-pagination{
    position: absolute;
    right: 8px;
    bottom: 15px;
    width: 170px;
    height: 40px;
    margin-left: auto;
    margin-right: 30px;
    border: 1px solid $grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    &__information{
        width: 50%;
        border-right: 1px solid $grey;
        padding: 0 14px;
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--text-color);
    }
    &__buttons{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 0 5px;
        &-item{
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin-top: 2px;
        }
        &-item:disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.table-mutation{
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 7px;
    border: 1px solid $grey;
    transform: translateX(-200%);
    transition: 0.4s all;
}

.table-mutation-show{
    transform: translateX(0);
}
