@import "../../../constants/_colors"; 
@import "../../../constants/_theme"; 

.settings-item{
    width: calc(100% - 70px);
    min-height: 80px;
    padding: 20px 30px;
    display: flex;
    border-bottom: 1px solid rgba($color: $grey, $alpha: 0.2);
    &__text{
        width: 550px;
        .settings-title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0px;
            color: var(--text-color);
        }

        .settings-subtitle{
            font-size: 16px;
            color: $grey;
            font-weight: 400;
            margin-top: 0;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
        max-width: 100%;
        min-height: 80px;
    }
}

@media screen and (max-width: 1200px) {
    .settings-item{
        width: calc(100% - 40px);
        padding: 20px;
        &__content{
            max-width: 500px;
        }
    }
    
}

@media screen and (max-width: 575px) {
    .settings-item{
        width: calc(100% - 20px);
        padding: 15px;
        &__text{
            width: 100%;
            padding: 5px;
            .settings-title{
                font-size: 13px;
            }
            .settings-subtitle{
                font-size: 12px;
            }
        }
        &__content{
            max-width: 250px;
        }
    }
}