$white: #FFFFFF;
$black: #01071d;
$light: #FCFCFC;
$lightgrey: #f5f7fa;
$lightgreen: #E4F3F0;
$lightred: #FBE9E7;
$green: #67C3B1;
$red: #ff7b7b;
$blue: #007BFF;
$yellow: #FFC107;
$orange: #FF5722;
$purple: #c5a6ff;
$darkgreen: #2E7D32;
$grey: #9DA1AC;

$darkblue: #0056b3;
$lightblue: #66b2ff;
$darkgrey: #6c757d;
$mediumgrey: #adb5bd;
$darkblack: #000000;
$mediumblack: #343a40;
$lightblack: #495057;
$verylightgrey: #e9ecef;