@import "./_colors";

@mixin light-theme {
    --bg-color: #{$white};
    --text-color: #{$black};
    --wrapper-bg-color: #{$lightgrey};
    --wrapper-text-color: #{$black};
    --theme-blue: #{$blue};
}

@mixin dark-theme {
    --bg-color: #{$lightblack};
    --text-color: #{$white};
    --wrapper-bg-color: #{$mediumblack};
    --wrapper-text-color: #{$white};
    --theme-blue: #{$lightblue};
}

:root {
    @include light-theme;
}
  
.dark-theme {
    @include dark-theme;
}