.transactions{
    position: relative;
    .add-transaction{
        position: absolute;
        right: 60px;
        top: 20px;
        display: flex;
        align-items: center;
        font-weight: 600;
        svg {
            margin-right: 7px;
        }
    }
    &-content{
        margin-top: 40px;
    }
    &-stats{
        display: flex;
        width: 350px;
        justify-content: space-between;
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &-select{
        width: 200px;
        margin-right: 40px;
    }
    .select{
        z-index: 10;
    }
}