@import "../../../constants/_colors.scss";
@import "../../../constants/_theme";

.report-config{
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    z-index: 10;
    .select{
        width: 200px;
    }
}

.report-switch{
    display: flex;
    align-items: center;
    span{
        margin: 10px;
        color: $grey;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .choosen{
        font-weight: 600;
        color: var(--text-color);
    }
}

.reports-content{
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    .report-config{
        position: relative;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        .select{
            margin-top: 20px;
        }
    }  
}