@import "../../../constants/__theme";

.layout{
    display: flex;
}

.content{
    padding-left: 40px;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--wrapper-bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

@media screen and (max-width: 1200px) {
    .content{
        padding-left: 25px;
    }
}

@media screen and (max-width: 575px) {
    .content{
        padding-left: 15px;
    }
}