@import "../../../constants/_colors";
@import "../../../constants/__theme";

.transactions-compact{
    position: relative;
    a {
        position: absolute;
        right: 20px;
        top: 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $grey;
        transition: .3s all;
        &:hover{
            color: var(--text-color);
        }
        svg{
            margin-left: 5px;
        }
    }
}

.insights-wrapper{
    display: flex; 
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .insights-wrapper{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 575px) {
    .transactions-compact {
        a {
            right: 10px;
            top: 10px;
        }
    }
    
}