@import "../../../constants/_theme";

.login{
    display: flex;
    height: calc(100vh - 10px);
    background-color: var(--bg-color);
    padding: 5px;
    overflow: hidden;
    &__image{
        width: 50%;
        height: calc(100vh - 10px);
        object-fit: cover;
        border-radius: 30px;
    }
    &-wrapper{
        position: relative;
        width: 100vw;
        overflow: hidden;
        flex-shrink: 0;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        transform: translateX(0vw);
        transition: .5s all;

    }
    &-wrapper_register{
        transform: translateX(-50vw);
    }
    p {
        color: var(--text-color);
    }
}

@media screen and (max-width: 1200px) {
    .login{
        &__image{
            width: 40%;
        }
        &-wrapper{
            width: 120vw;
        }
        &-wrapper_register{
            transform: translateX(-60vw);
        }
    }
    
}

@media screen and (max-width: 767px) {
    .login{
        &__image{
            display: none;
        }
        &-wrapper{
            width: 200vw;
        }
        &-wrapper_register{
            transform: translateX(-100vw);
        }
    }
}